<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo horizontal-logo" th:src="@{/images/welovepets.png}" alt="pet-clinic" width="250" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" ;>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/despre-noi">Despre noi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicii
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/vets">Veterinarii nostrii</a>
                        <a class="dropdown-item" href="/visits">Consultatii</a>
                        <a class="dropdown-item" href="/ingrijire">Ingrijire</a>
                        <a class="dropdown-item" href="/anestezie">Anestezie</a>
                        <a class="dropdown-item" href="/stomatologie">Stomatologie</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pet
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/pets/pet.html">Adauga Pet</a>
                        <a class="dropdown-item" href="/pets">Lista pet</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Client
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/owners/owner.html">Adauga client</a>
                        <a class="dropdown-item" href="/owners">Lista clienti</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <p class="lead">&nbsp;&nbsp; Anestezia inhalatorie reprezinta cea mai sigura si rapida metoda pentru trezirea companionului tau
        dupa o        interventie chirurgicala, fie ea simpla sau complexa.</p>

    <p class="lead">&nbsp;&nbsp; Principalele avantaje ale anesteziei inhalatorii sunt:</p>



<div class="container">
<ul class="list-group">
    <li class="list-group-item">Trezirea rapida (in cateva minute), in cele mai multe cazuri animalul fiind capabil sa se deplaseze pe picioarele  lui dupa operatie, lucru imposibil dupa o anestezie clasica, injectabila, care mentine animalul intr-o stare de confuzie temporara post-operatorie
    </li>
    <li class="list-group-item">Solicitarea redusa a ficatului si a rinichiului (anestezicul nu este eliminat prin metabolizare si     excretie, ci prin        simpla respiratie – spontana sau fortata – in principal, recuperarea post-operatorie fiind astfel mult       facilitata;
    </li>
    <li class="list-group-item">Analgezie totala (lipsa oricarei perceptii a durerii pe durata anesteziei, respectiv a narcozei profunde)
    </li>
    </ul></div>



    <img th:src="@{/images/anestezie.jpg}" class="img-fluid" alt="anestezie.jpg" align="center" width="500px" height="200px"
         style="vertical-align:middle;margin:25px 300px ">
</div>
</body>
</html>