<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${owner.firstName}"></title>
</head>
<body>
<h1 th:text="${'Owner: ' + {owner.firstName}}"></h1>

<h2>Assigned Pets - remove from owner</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth date</th>
        <th>Category</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="pet: ${assignedPets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.birthDate}"></td>
        <td th:text="${pet.petType}"></td>
        <td><a th:href="${'/owners/' + {owner.id} + '/pets/remove/' + {pet.id}}">Remove</a></td>

    </tr>
    </tbody>
</table>

<h2>Unassigned Pets - add to owner</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet: ${unassignedPets}">
        <td th:text="${pet.id}"></td>
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.birthDate}"></td>
        <td th:text="${pet.petType}"></td>
        <td><a th:href="${'/owners/' + {owner.id} + '/pets/assign/' + {pet.id}}">Add</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
