<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <style>
        .navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Insert a new owner</h1>

<form action="#" th:action="@{/owners/save/{id}(id=${owner.id})}" th:object="${owner}" method="post">

    <label>first_name: <input type="text" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')} ? errorField" /></label>
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="errorLabel"></span>
    <br><br>

    <label>last_name: <input type="text"  th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')} ? errorField" /></label>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="errorLabel"></span>
    <br><br>

    <label>city: <input type="text"  th:field="*{city}" th:class="${#fields.hasErrors('city')} ? errorField" /></label>
    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" th:class="errorLabel"></span>
    <br><br>

    <label>telephone: <input type="text"  th:field="*{telephone}" th:class="${#fields.hasErrors('telephone')} ? errorField" /></label>
    <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" th:class="errorLabel"></span>
    <br><br>


    <input type="submit" /> <input type="reset" />
</form>
</body>
</html>
