<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adauga animal de companie</title>
    <style>
        .navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}



    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

</head>
<body>
<h1 align="center">Adauga un nou animal de companie</h1>

<form action="#" th:action="@{/pets/save/{id}(id=${pet.id})}" th:object="${pet}" method="post">

    </label>
    <div class="form-group">

        <label class="form-control">Nume: <input type="text" th:field="*{name}"
                                                      th:class="${#fields.hasErrors('name')} ? errorField"/></label>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="errorLabel"></span>


        <label class="form-control">Data nasterii: <input type="date" th:field="*{birthDate}"
                                                      th:class="${#fields.hasErrors('birthDate')} ? errorField"/></label>
        <span th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" th:class="errorLabel"></span>


        <label class="form-control">Categorie animal de companie:
            <select th:field="*{petType}">
                <option th:each="petType : ${T(ro.sda.PetClinic.model.PetType).values()}"
                        th:value="${petType}" th:text="${petType}"></option>
            </select>
        </label>

    </div>


    <button type="submit" class="btn btn-primary">Salveaza</button>
    <button type="reset" class="btn btn-warning">Reset</button>
</form>
</div>
</body>
</html>
